<div class="new-session-main-container">

<div class="new-session-background-image" style="background-image: url('/assets/book_stacks.jpg');">
  <div class="main-logo-area">
    <h1>Books With Friends</h1>
    <h2>Inventory management for the social bookworm.</h2>
  </div>

</div>

<div class="row new-session-user-management">
  <div class="col-sm-6 session-border-right">
    <div class="new-session-column">
      <h3>Existing Users</h3>
      <form id="new-session-login" action="<%= session_url %>" method="post">
        <%= auth_token_helper %>
        <div class="form-group">
          <input
             id="user_email"
             name="user[email]"
             style="display: block"
             placeholder="Username"
             class="form-control"
             type="text">
        </div>
        <div class="form-group">
          <input
             id="user_password"
             placeholder="Password"
             name="user[password]"
             class="form-control"
             type="password">
        </div>
        <input type="submit" value="Log in" class="btn btn-primary">
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="new-session-column" style="padding-top:15px">
      <div>
        <h4>Employers: Please use one of these guest logins</h4>
        <div class="login-buttons-container">
          <% @guest_logins.each do |key, value| %>
            <button class="btn btn-info btn-sm guest-login"
            data-id="<%= value%>"><%= key %></button>
          <% end %>
        </div>
      </div>
      <div class="new-user-signup">
        Not a registered user? <%= link_to "Sign Up", new_user_url %>
      </div>
    </div>
  </div>
</div>

<div class="row session-about-row">

  <div class="col-sm-5 col-sm-offset-1 session-col">
    <div class="row session-about-box">
      <div class="col-sm-2 about-icon">
        <img src="/assets/about-icon.png">
      </div>
      <div class="about-text col-sm-10">
        <h4 class="session-new-headers">
          What is this?
        </h4>
        <p>
          This site is a first and foremost a final project for App Academy. The idea was
          conceived when two book lovers lost track of the books they had lent out to their friends.
          It is a work in progress (styling for instance)!  Please be patient.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-5 session-col session-col-bottom">
    <div class="row session-about-box">
      <div class="col-sm-2 about-icon">
        <img src="/assets/about-contact.png">
      </div>
      <div class="about-text col-sm-10">
        <h5>If so inclined...</h5>
        <p>
          Please feel free to check out the <a href="http://bit.ly/1plttmc">source code</a>.
        </p>
      </div>
    </div>
  </div>


</div>



<script type="text/javascript">
$("button.guest-login").click(function(event) {
  event.preventDefault();
  $("#user_email").val($(event.target).attr("data-id"));
  $("#user_password").val("password");
  $("#new-session-login").submit();
});
</script>
