<div class="container">
<% content_for :nav do %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Books With Friends</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills nav-links">
        <% if current_user %>
          <li><a href="#/search">Search</a></li>
          <li><a href="#/">Library</a></li>
          <li><a href="#/friends">Friends</a></li>
          <li><a href="#/rentals">Borrowing</a></li>
        <% end %>
      </ul>

      <% if current_user %>
      <div class="dropdown pull-right navbar-form">
        <button class="btn btn-primary dropdown-toggle user-drop-down" type="button" data-toggle="dropdown">
          <%= current_user.email %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Your Profile', current_user %></li>
          <li><%= link_to 'Sign Out', session_url, method: :delete %></li>
        </ul>
      </div>
      <% else %>
        <div class="pull-right navbar-form">
          <%= link_to 'Sign In', new_session_url, class: 'btn btn-success sign-in-btn' %>
        </div>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% end %>


<script type="application/json" id="bstrapped-current-user">
  {
    "current_user_id": <%= current_user.id %>,
    "url_user_id": <%= @user.id %>
  }
</script>


<div id="main-content">
</div>

<script>
  $(Bookfriends.initialize);
</script>


</div>  <!-- main container div -->