<h2>Manage Your Inventory</h2>

<div>
  <h4>Pending Requests</h4>
  <% if (pendingRequests.length > 0) { %>
    <ul>
      <% _(pendingRequests).each( function(request) { %>
        <li>
          Request to <%= request.escape("dest_email") %> made on <%= request.escape("created_at") %>
          <br>
          Status: <% if (request.get("status") === "N") { %>
            Awaiting Approval
          <% } else { %>
            Approved - Awaiting Delivery
          <% } %>
          <br>
          <%= request.escape("title") %>
          <%= request.escape("author") %>
          <img src='<%= request.escape("thumbnail_small") %>'>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    You have not made any requests.  Browse your friends' books and borrow some!
  <% } %>
</div>

<div>
  <h4>Books You Have Out</h4>
  <% if (borrowedBooks.length > 0) { %>
    <ul>
      <% _(borrowedBooks).each( function(request) { %>
        <li>
          Borrowed from <%= request.escape("dest_email") %> delivered on <%= request.escape("updated_at") %>
          <br>
          <%= request.escape("title") %>
          <%= request.escape("author") %>
          <img src='<%= request.escape("thumbnail_small") %>'>
          This book is due on <%= request.escape("due_date") %>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    Borrow some books!
  <% } %>
</div>

<div>
  <h4>What Your Friends Want</h4>
  <% if (actionNeeded.length > 0) { %>
    <ul>
      <% _(actionNeeded).each( function(request) { %>
        <li data-id="<%= request.id %>" class="request-needing-action">
          Request By: <%= request.escape("source_email") %> made on <%= request.escape("created_at") %>
          <br>
          <% if (request.get("status") === "N") { %>
            <button class="mark-as-approved btn btn-info btn-xs">Approve</button>
          <% } else { %> <!-- A -->
            <button class="mark-as-delivered btn btn-info btn-xs">Mark as Delivered</button>
          <% } %>
          <br>
          <%= request.escape("title") %>
          <%= request.escape("author") %>
          <img src='<%= request.escape("thumbnail_small") %>'>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    Your friends have nothing they want from you.  Buy some books!  Then add them here!
  <% } %>
</div>

<div>
  <h4>What You've Lent Out</h4>
  <% if (lentBooks.length > 0) { %>
    <ul>
      <% _(lentBooks).each( function(request) { %>
        <li data-id="<%= request.id %>" class="request-needing-action">
          Borrowed By: <%= request.escape("source_email") %>
          <br>
          Due Date: <%= request.escape("due_date") %>
          <button class="mark-as-returned btn btn-info btn-xs">Got it back!</button>
          <br>
          <%= request.escape("title") %>
          <%= request.escape("author") %>
          <img src='<%= request.escape("thumbnail_small") %>'>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    Your friends have nothing they want from you.  Buy some books!  Then add them here!
  <% } %>
</div>
